# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\My Files Onedrive\OneDrive - buaa.edu.cn\various events\大三下作业\模式识别与智能系统\BUAA-Intelligent-System\Second\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
